.progressChocolate {
    /* background-color: pink; */
    accent-color:#4f2c2c;
    /* -webkit-appearance: none; */
}

 .progressVanilla {
    /* background-color: pink; */
    accent-color: #cbc0ac;
}

.progressStrawberry {
    /* background-color: gray; */
    accent-color: #de8c91;
}

progress ::-webkit-progress-value{
background-color: purple;
}